/*BLANK
 #EDEBE6
ASH
 #B0BCA4
GREY
 #EEEEEE
DARK
 #515151
PURE SKY
 #00B4FF*/
 /*------------------------*/

 @import url(http://fonts.googleapis.com/css?family=Lato);
 @import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

 html{
   line-height: 1.45;
   font-family: Helvetica, sans-serif;
 }
body{
  margin: 0;
  padding: 0;
}
p, h1, h2, h3, h4, h5{cursor: default;}
nav p:hover{cursor: pointer}
input{cursor: default;}
/*


*/
a {text-decoration: none; color:inherit;}
a:hover {color: inherit;}
ul{
  padding: 0;
  user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
  vertical-align: middle;
}
/*helpers ya man*/
.g{margin: 0; padding: 0; display: inline-block;}
.f{
  position: absolute;
  top: 0;
  left: 0;
}
.one-whole{width: 100%;}
.half-space{width: 50%; height:100%; float:left}
.third-space{width: 33.33333%;}
.white{color: white}

.goup{
  position: fixed;
  bottom: 250px;
  right: 20px;
  width: 50px;
  height: 50px;
  border: 1px solid grey;
  border-radius: 8px;
  display: none;
  cursor: pointer;
  z-index: 99;
}
.goup-square{
  border-left: 5px solid grey;
  border-top: 5px solid grey;
  height: 20px;
  left: 13px;
  position: absolute;
  text-align: center;
  top: 18px;
  transform: rotateZ(0.8rad);
  width: 20px;
  z-index: 9999;
}
.goup:hover, .goup:hover .goup-square{border-color: #00B4FF}

nav {
    border-top: 2px solid #e1ddd4;
    color: #403b33;
    display: flex;
    height: 70px;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin-bottom: 40px;
    z-index: 99999;
    max-width: 1440px;
    margin-left:auto;
    margin-right:auto;
}
#nav-content{
  width: 100%;
    z-index: 999;
}

#top-line-floor{
  background-color: #6d6d6d;
    height: 12px;
    position: fixed;
    max-width: 1440px;
    top: -2px;
    width: 100%;
    z-index: 9999;
}
#top-line{
  border-right: 1px solid #ded9d1;
  background-color: #403b33;
    content: "";
    height: 12px;
    position: fixed;;
    max-width: 1440px;
    top: 0;
    width: 100%;
    transition: width 0.3s ease-in-out ;
}
#top-line-scroll{
  border-right: 1px solid #ded9d1;
  background-color: #00B4FF;
    height: 12px;
    position: fixed;;
    top: 0;
    width: 0%;
    transition: width 0.01s ease;
}
.top-line{
  height: inherit;
  border-right: 1px solid #ded9d1;
  background-color: #403b33;
  width: 100%;
  transition: all 0.2s ease-out;
}
.top-line-floor{
  height: 5px;
  width: 100%;
  position: absolute;
    background-color: #6d6d6d;
}
#logo {
  float: left;
  height: 52px;
  margin-top: 10px;
  overflow: hidden;
  width: 70px;
}
.logo{
  width: 80px;
}
#logo_text {
    float: left;
    height: 35px;
    margin-top: 19px;
    overflow: hidden;
    width: 170px;
}
.logo_text {
    left: -40px;
    position: relative;
    top: -149px;
    width: 230px;
}
#organizone{

}

.menu{
  border: 1px solid grey;
   border-radius: 6px;
   float: right;
   height: 50px;
   position: absolute;
   right: 31px;
   top: 14px;
   width: 50px;
   display: none;
}
.menu-icon{
    background-color: grey;
    height: 4px;
    left: 50%;
    margin-left: -15px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    vertical-align: middle;
    width: 30px;
}
.menu-icon::after{
    content: '';
    background-color: inherit;
    height: 4px;
    left: 50%;
    margin-left: -15px;
    margin-top: -2px;
    position: absolute;
    top: -6px;
    vertical-align: middle;
    width: 30px;
}
.menu-icon::before{
    content: '';
    background-color: inherit;
    height: 4px;
    left: 40%;
    margin-left: -12px;
    margin-top: -2px;
    position: absolute;
    top: 10px;
    vertical-align: middle;
    width: 30px;
}
.menu:hover{
  cursor: pointer
}
.menu:hover .menu-icon{
  filter: brightness(0.5);
}
/*navbar list ya khabeby*/
nav ul{
  list-style: none;
  letter-spacing: 2px;
}
nav ul li{
  cursor: pointer;
  display: inline-block;
}
#nav-list{
  margin-right: 20px;
  height: 100%;
  float:left;
  display: block;
}
#nav-list-responsive{display: none;}
.one-block .main{
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;

}

.main-nav-list{
  height: 100%;
  font-weight: bold;
  margin-top: 10px;
}
.main-nav-list > li{
  height: 100%;
  float:left;
  padding-left: 5px;
  padding-right: 5px;
  font-family: 'kalam', sans-serif;
}
.main-nav-list > li p{
  margin-left: 20px;
}

/*dropdown ya khabeby*/
.open:hover .dropdown-toggle{
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease-in;
}
.dropdown-toggle{
    background-color: #cdcad4;
    border-bottom: 1px solid #b3afa6;
    border-left: 1px solid #b3afa6;
    border-right: 1px solid #b3afa6;
    font-weight: normal !important;
    min-width: 200px;
    padding: 0;
    float:left;
    top: 50px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    color: #403b33 !important;
}
.dropdown-toggle li{
  padding: 10px;
  display: block;
  height: 20px;
  margin-left: 10px
}

.horz-line-floor-nav {
  background-color: #6d6d6d;
    display: inline-block;
    float: left;
    height: 100%;
    width: 10px;
    position: absolute;
}
.horz-line-nav{
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #ded9d1;
  border-right: 1px solid #ded9d1;
  background-color: #403b33;

}

/*content b2a ya do2*/
.container{
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  display: flex;
    max-width: 1440px;
    min-height: 1000px;
    width: 1440px;
    
}
.titles{
  display: block;
    height: 370px;
    margin-top: 20px;
    width: 400px;
    position: absolute;;
    transition: top 0.5s ease;
    font-family: 'Julius Sans One', sans-serif;
}
.horz-line-floor{
  background-color: #6d6d6d;
    display: inline-block;
    float: left;
    height: 100%;
    width: 10px;
}
.horz-line{
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #ded9d1;
  border-right: 1px solid #ded9d1;
  background-color: #403b33;

}
.title-text{
  display: inline-block;
    float: left;
    text-align: left;
    margin-left:10px;
    transition: all 0.1 ease-out;
}
.block-line{
  background-color: #5b564e;
      border-bottom: 1px solid #ded9d1;
      border-right: 1px solid #ded9d1;
      height: 61px;
      left: 0;
      position: absolute;
      width:  0;
      z-index: -1;
}
.title-text h1{
  color: #515151;
  margin-left: 0px;
  cursor: pointer;
  font-size: 22px;
  display: inline-block;
  transition: color 0.3 ease-out;
}
.title-text:hover h1{
  color: #00B4FF !important;
  margin-left:10px !important;
}
.title-text:hover > .block-line{
  width: 90%;
}
.title-text .selected{
  color: #00B4FF;
  margin-left: 10px;
}

/*titles content*/
.titles-content{
  width: 60%;
  display: none;
  position: relative;
  left: 500px;
  padding-bottom: 200px;
  transition: all 0.5s ease-out;
}
.titles-content.selected{
  display: inline-block;
  visibility: visible;
  opacity: 1 !important;
  transition: all 0.5s ease-out;
}
.title > h1{
  font-family: 'Julius Sans One', sans-serif;
}
.bullit-line {
    width: 100%;
}
.bullit {
    background-color: #cdcad4;
    float: left;
    height: 30px;
    margin: 20px;
    width: 30px;
    transition: background-color 0.3s ease-in 2s;
}
.bullit-line > p {
  display: inline-block;
  float: left;
  font-size: 18px;
  line-height: 30px;
  margin: 22px 0 0;
  width: 80%;
  font-family: 'Carrois Gothic', sans-serif;
}
.bullit-line:hover .bullit{
  background-color: #00B4FF;
  transition: background-color 0.3s ease-out 0s;
}

/*footer*/

footer{
      width: 100%;
    height: 200px;
    bottom: 0;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    transition: height 0.3s cubic-bezier(0.5, 0, 1, 0.5);
    color: white;
    position: relative;
    right: 0;
}
footer::before{


}
#footer-container{
background-color: #515151;
    position: absolute;
    height: 200px;
    display: flex;
    float: right;
    width: 67%;
    right: 0;
    transition: all 0.5s ease-in-out 0.4s;
}
#footer-content{
  display: flex;
  width: 100%;

}
.footer-logo{
  max-width: 250px;
  min-width: 100px;
  position: absolute;
  width: 18%;
  position: fixed;
  background-color: transparent;
    z-index: 4;
}
.footer-logo-width{
  width:100%;
}
.slope {
     border-color: transparent #515151 #515151 transparent;
    border-style: solid;
    border-width: 100px;
    display: block;
    float: left;
    right: 67%;
    position: absolute;
}
.pages-list{
  margin-right: 50px;
  width: 25%;
}
.pages-list-id {
    color: white;
    font-family: "Kalam",cursive;
    margin-bottom: 0;
}
.horz-list {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.horz-list > li::before {
    content: "> ";
}
.horz-list > li {
    color: lightblue;
}
#pages{line-height: 2.1;}
html {
    overflow: scroll;
    overflow-x: hidden;
}
.adresse{
  font-family: 'Amiri', serif;
}

._12 {
    font-size: 1.2em;
}
._14 {
    font-size: 1.4em;
}
.social-icons {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    max-width: 350px;
    width: 100%;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
    line-height: 2.5;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-rss {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-rss:hover {
    background-color: #eb8231;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-google-plus {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-google-plus:hover {
    background-color: #e25714;
}

@media screen and (max-width: 600px){
  h1, h2, h3, h4, h5{
    font-size: 18px !important;
  }
  p{
    font-size: 13px !important;
  }
  .horz-line-nav{
    height: 80%;
  }
  .bullit{
    margin: 20px 0 0 0;
  }
  .bullit-line > p{
    margin-left: 10px;
    width: 80%;
  }
  .horz-line-floor{
    height: 80%;
  }
  #logo{margin-left: 0}
  .dropdown-toggle li{
    margin: 0;
    font-size: 13px !important;
  }
  .pages-list{
    display: none;
  }
}

@media screen and (max-width: 870px){

.half-space{
  width: 100%;
}
/*responsive nav*/
  .menu{
    display: inline-block;
  }
  #nav-list{display: none;}
  #nav-list-responsive {
    height: 680px;
    margin-top: 90px;
    margin-left: 0;
    margin-right: 0;
    position: absolute;
    width: 100%;
    display: none;
    font-size: 25px;
    color: white;
  }
  .main-nav-list{
    text-align: center;
   width: 100%;
  }
  .main-nav-list li{
    background-color: rgba(81, 81, 81, 0.95);
     width: 100%;
     height: auto;
     padding:0;
  }
  .horz-line-floor-nav{
    display: none;
  }
  .dropdown-toggle{
    position: relative;
    top: 0;
    display: none;
    visibility: visible;
    opacity: 1;
    width: 100%;
    border: 0;
  }
  .dropdown-toggle li{
      margin: 0;
    padding-top: 15px;
      padding-bottom: 15px;
    color: white;

  }

  /*responsive services*/

  .container{
    display: block;
    margin-left: 8px;
      width: 100%;
      
  }
  .titles-content{
      position: relative;
      width: 100%;
      left: 0;
  }
  .titles{
    display: block;
    position: initial;
    top: 0;
  }
}
